-- =========================================================================
-- SCRIPT DE INICIALIZACI├ôN DE ZZZ ACADEMY (VERSI├ôN BASE DE DATOS COMPLETA 1.0)
-- =========================================================================

TRUNCATE TABLE agentes CASCADE;
TRUNCATE TABLE w_engines CASCADE;
TRUNCATE TABLE sets_discos CASCADE;

-- =========================================================================
-- 2. DISCOS (Pistas de Datos)
-- =========================================================================



-- =========================================================================
-- 3. W-ENGINES (Amplificadores)
-- =========================================================================

-- =========================================================================
-- 4. AGENTES (17 Personajes del Roster Base y 1.0)
-- =========================================================================



-- =========================================================================
-- 5. BANGBOOS
-- =========================================================================

-- =========================================================================
-- ARREGLO DE SECUENCIAS (AUTO_INCREMENT)
-- Al insertar IDs manualmente (1, 2, 3...), la secuencia interna de PostgreSQL
-- no avanza. Esto sincroniza las secuencias al numero mas alto.
-- =========================================================================
SELECT setval('agentes_id_seq', COALESCE((SELECT MAX(id) FROM agentes), 1));
SELECT setval('w_engines_id_seq', COALESCE((SELECT MAX(id) FROM w_engines), 1));
SELECT setval('sets_discos_id_seq', COALESCE((SELECT MAX(id) FROM sets_discos), 1));
SELECT setval('bangboos_id_seq', COALESCE((SELECT MAX(id) FROM bangboos), 1));
